<div class="flex flex-col p-4">
    <div class="text-lg font-semibold">Tanie Teleporty</div>

    <div class="flex pt-4">
        <div class="flex flex-col">
            <span>Start</span>
            <mat-form-field>
                <mat-select [(ngModel)]="selectedFrom" name="from" (selectionChange)="onSelect()">
                    <mat-label>Choose an option</mat-label>
                    @for (town of townOptions; track town) {
                    <mat-option [value]="town">{{town}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-col pl-4">
            <span>Do</span>
            <mat-form-field>
                <mat-select [(ngModel)]="selectedTo" name="to" (selectionChange)="onSelect()">
                    <mat-label>Choose an option</mat-label>
                    @for (town of townOptions; track town) {
                    <mat-option [value]="town">{{town}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="flex flex-col pt-4">
        <div *ngIf="lowestPriceShortcuts$ | async as pricing">
            <div class="pt-4" *ngIf="lowestPriceStandard$ | async as pricingStandard">
                <div class="text-sembold text-lg">Najnizsza cena (bez skrótów): {{ pricingStandard.price }} - więcej o
                    {{ (pricingStandard?.price ?? 0) - ((pricing?.price ?? 0) + ((pricing?.totalShortcutSoeNeeded ?? 0)
                    * SOE_PRICE)) }}</div>

                <ol class="list-decimal pl-6 pt-4">
                    @for (path of pricingStandard.path; track path) {
                    <li>{{path.town }}. Cena: {{ path.price }} <span *ngIf="path.shortcutSoeNeeded"> + {{
                            path.shortcutSoeNeeded }} SoE. Skrót: {{ path.shortcutDescription }}</span></li>
                    }
                </ol>
            </div>

            <div class="text-sembold text-lg pt-10">Najnizsza cena (z skrótami): {{ pricing.price }} + ({{
                pricing.totalShortcutSoeNeeded }} SoE * {{ SOE_PRICE }}) = {{ (pricing?.price ?? 0) +
                ((pricing?.totalShortcutSoeNeeded ?? 0) * SOE_PRICE) }} </div>

            <ol class="list-decimal pl-6 pt-4">
                @for (path of pricing.path; track path) {
                <li>
                    {{path.town }}. Cena: {{ path.price }} <span *ngIf="path.shortcutSoeNeeded"> + {{
                        path.shortcutSoeNeeded }} SoE. Skrót: {{ path.shortcutDescription }}</span>
                    <div *ngIf="path.shorcutLink">
                        <img [src]='path.shorcutLink' />
                    </div>
                </li>
                }
            </ol>

            
        </div>

    </div>

</div>
